[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-marshmallow = "*"
apispec = "*"
python-dotenv = "*"
dataclasses-jsonschema = "*"
flasgger = "*"
dataclasses-serialization = "*"

[dev-packages]
pytest = "*"
assertpy = "*"

[requires]
python_version = "3.8"
